@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
.tim-row {
    margin-bottom: 20px;
}

.tim-white-buttons {
    background-color: #777777;
}

.typography-line {
    padding-left: 25%;
    margin-bottom: 35px;
    position: relative;
    display: block;
    width: 100%;
}

.typography-line span {
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    position: absolute;
    width: 260px;
    text-transform: none;
}

.tim-row {
    padding-top: 60px;
}

.tim-row h3 {
    margin-top: 0;
}

.card #chartPreferences {
    width: 60%;
    margin: 0 auto;
}

#navbar-full .navbar {
    border-radius: 0 !important;
    margin-bottom: 15px;
    z-index: 2;
}

#map {
    position: relative;
    width: 100%;
    height: 100vh;
}

.places-buttons .btn {
    margin-bottom: 30px;
}

.map-container {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
}

#menu-dropdown .navbar {
    border-radius: 3px;
}

#pagination-row .pagination-container {
    height: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
}

.all-icons .font-icon-detail {
    text-align: center;
    padding: 45px 0px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 0.1875rem;
    margin: 15px 0;
    min-height: 168px;
}

.all-icons [class*="now-ui-icons"] {
    font-size: 32px;
}

.all-icons .font-icon-detail p {
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #B8B8B8;
    padding: 0 10px;
    font-size: 0.7142em;
}

#icons-row i.now-ui-icons {
    font-size: 30px;
}

.space {
    height: 130px;
    display: block;
}

.space-110 {
    height: 110px;
    display: block;
}

.space-50 {
    height: 50px;
    display: block;
}

.space-70 {
    height: 70px;
    display: block;
}

.navigation-example .img-src {
    background-attachment: scroll;
}

.navigation-example {
    background-position: center center;
    background-size: cover;
    margin-top: 0;
    min-height: 740px;
}

#notifications {
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    position: relative;
}

.tim-note {
    text-transform: capitalize;
}

#buttons .btn,
#javascriptComponents .btn {
    margin: 0 0px 10px;
}

.space-100 {
    height: 100px;
    display: block;
    width: 100%;
}

.be-social {
    padding-bottom: 20px;
    /*     border-bottom: 1px solid #aaa; */
    margin: 0 auto 40px;
}

.txt-white {
    color: #FFFFFF;
}

.txt-gray {
    color: #ddd !important;
}

.parallax {
    width: 100%;
    height: 570px;
    display: block;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.logo-container .logo {
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #333333;
    width: 50px;
    float: left;
}

.logo-container .brand {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 18px;
    float: left;
    margin-left: 10px;
    margin-top: 7px;
    width: 70px;
    height: 40px;
    text-align: left;
}

.logo-container .brand-material {
    font-size: 18px;
    margin-top: 15px;
    height: 25px;
    width: auto;
}

.logo-container .logo img {
    width: 100%;
}

.navbar-small .logo-container .brand {
    color: #333333;
}

.fixed-section {
    top: 90px;
    max-height: 80vh;
    overflow: scroll;
    position: sticky;
}

.fixed-section ul {
    padding: 0;
}

.fixed-section ul li {
    list-style: none;
}

.fixed-section li a {
    font-size: 14px;
    padding: 2px;
    display: block;
    color: #666666;
}

.fixed-section li a.active {
    color: #00bbff;
}

.fixed-section.float {
    position: fixed;
    top: 100px;
    width: 200px;
    margin-top: 0;
}

.parallax .parallax-image {
    width: 100%;
    overflow: hidden;
    position: absolute;
}

.parallax .parallax-image img {
    width: 100%;
}

@media (max-width: 768px) {
    .parallax .parallax-image {
        width: 100%;
        height: 640px;
        overflow: hidden;
    }
    .parallax .parallax-image img {
        height: 100%;
        width: auto;
    }
}

.social-buttons-demo .btn {
    margin-right: 5px;
    margin-bottom: 7px;
}

.img-container {
    width: 100%;
    overflow: hidden;
}

.img-container img {
    width: 100%;
}

.lightbox img {
    width: 100%;
}

.lightbox .modal-content {
    overflow: hidden;
}

.lightbox .modal-body {
    padding: 0;
}

@media screen and (min-width: 991px) {
    .lightbox .modal-dialog {
        width: 960px;
    }
}

@media (max-width: 991px) {
    .fixed-section.affix {
        position: relative;
        margin-bottom: 100px;
    }
}

@media (max-width: 768px) {
    .btn,
    .btn-morphing {
        margin-bottom: 10px;
    }
    .parallax .motto {
        top: 170px;
        margin-top: 0;
        font-size: 60px;
        width: 270px;
    }
}
/*       Loading dots  */
/*      transitions */

.presentation .front,
.presentation .front:after,
.presentation .front .btn,
.logo-container .logo,
.logo-container .brand {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

#images h4 {
    margin-bottom: 30px;
}

#javascriptComponents {
    padding-bottom: 0;
}
/*      layer animation          */

.layers-container {
    display: block;
    margin-top: 50px;
    position: relative;
}

.layers-container img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    text-align: center;
}

.animate {
    transition: 1.5s ease-in-out;
    -moz-transition: 1.5s ease-in-out;
    -webkit-transition: 1.5s ease-in-out;
}

.navbar-default.navbar-small .logo-container .brand {
    color: #333333;
}

.navbar-transparent.navbar-small .logo-container .brand {
    color: #FFFFFF;
}

.navbar-default.navbar-small .logo-container .brand {
    color: #333333;
}

.sharing-area {
    margin-top: 80px;
}

.sharing-area .btn {
    margin: 15px 4px 0;
}

.section-thin,
.section-notifications {
    padding: 0;
}

.section-navbars {
    padding-top: 0;
}

#navbar .navbar {
    margin-bottom: 20px;
}

#navbar .navbar-toggler,
#menu-dropdown .navbar-toggler {
    pointer-events: none;
}

.section-tabs {
    background: #EEEEEE;
}

.section-pagination {
    padding-bottom: 0;
}

.section-download {
    padding-top: 130px;
}

.section-download .description {
    margin-bottom: 60px;
}

.section-download h4 {
    margin-bottom: 25px;
}

.section-examples a {
    text-decoration: none;
}

.section-examples a+a {
    margin-top: 30px;
}

.section-examples h5 {
    margin-top: 30px;
}

.components-page .wrapper>.header,
.tutorial-page .wrapper>.header {
    height: 500px;
    padding-top: 128px;
    background-size: cover;
    background-position: center center;
}

.components-page .title,
.tutorial-page .title {
    color: #FFFFFF;
}

.brand .h1-seo {
    font-size: 2.8em;
    text-transform: uppercase;
    font-weight: 300;
}

.brand .n-logo {
    max-width: 100px;
    margin-bottom: 40px;
}

.invision-logo {
    max-width: 70px;
    top: -2px;
    position: relative;
}

.creative-tim-logo {
    max-width: 140px;
    top: -2px;
    position: relative;
}

.section-javascript .title {
    margin-bottom: 0;
}

.navbar .switch-background {
    display: block;
}

.navbar-transparent .switch-background {
    display: none;
}

.section-signup .col .btn {
    margin-top: 30px;
}

#buttons-row .btn {
    margin-bottom: 10px;
}

.section-navbars .navbar-collapse {
    display: none;
}

.section-basic {
    padding-top: 0;
}

.section-images {
    padding-bottom: 0;
}

label {
    display: block;
    margin-top: 10px;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.mynav .fa-bars {
    display: none;
    color: #222;
    font-size: 2rem;
}

.mynav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.mynav li {
    margin: 0 15px;
    justify-content: space-between;
    font-size: 1em;
}

.mynav a {
    font-size: 1em;
    text-decoration: none;
    
    color: #fff;
    font-size: 1em;
}
.mynav li.active {
    background: rgba(255, 255, 255, .8);
border-radius: 3px;
}

.mynav li.active a {
    color: #222;
}

.mynav a:hover {
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    .mynav {
        height: auto;
        min-height: 50px;
        display: block;
        position: relative;
    }
    .fa-bars {
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
    ul.collapsed {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        overflow: hidden;
        max-height: 0;
      
        transition-duration: 0.1s;
       
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }
    ul.is-expanded {
        overflow: hidden;
        max-height: 500px;
        /* approximate max height */
      
        transition-duration: 0.1s;
       
        transition-timing-function: ease-in;
    }
    li {
        padding: 15px 10px;
        margin: 0px 0px;
        width: 100%;
    }
}
.btn-primary.disabled, .btn-primary:disabled{
    color: inherit ;
}
.logo-mini img{
    width: 80%;
}
.sidebar .logo .simple-text {
    text-transform: none;
}
.form-div{
    border-bottom: 1px gray solid;
    padding-top: 5px;
    margin-bottom: 5px;
}
.card-social .card{
    
    margin-bottom: 5px;
}
.card-social .card-body{
    line-height:35px;
    padding:15px;
    
}
.card-social svg{
    height: 17px;
    width: 40px !important;
    transform:scale(1.6)
}
.l-quote .chatdate{
color: rgba(255, 255, 255, .6);
position: absolute;
bottom:-20px;
left:45px;
text-align:right;
font-size: 9px !important;
}

.sys-quote {
    position: relative;
width: 80%;
padding: 5px;
margin: auto;
margin-top: 10px !important;
margin-bottom: 10px !important;
color: #fff;

border-radius: 4px;
clear: both;
font-size: 12px !important;
padding-top: 0;
  }
  .sys-quote:not(.alertmsg){
    background-color: rgba(255,255,255,.2);
  }
  .sys-quote.alertmsg{
    width: 90%;
    padding-top: 5px;
  }
  .sys-quote .chatdate{
    color: rgba(255, 255, 255, .6);
    position: absolute;
    font-size: 9px !important;
    top:0px;
}
.sys-quote .chatdate.float{
    color: rgba(255, 255, 255, 1);
    float: right;
  }
.l-quote {
    position: relative;
    width: 90%;
    padding: 10px;
    margin-top: 10px !important;
    margin-bottom: 30px !important;
    color: #fff;
    
    clear: both;
    font-size: 13px !important;
  }
  
  .quote:not(.alertmsg) {
    background-color: rgba(255,255,255,.3);
  }
  .quote:after {
    transform:skewX(-25deg);
    content: "";
    position: absolute;
    top: 100%;
    left: 35px;
    border-width: 10px 10px 0 0;
    border-style: solid;
    border-color: rgba(255,255,255,.3) transparent;
  }
  
  div.chatavatar{
      position: absolute;
      bottom:-10px;
  }
  .sys-quote div.chatavatar{
    position: relative;
    left: auto !important;
    right:auto !important;
    top: -2px !important;
   
    margin: auto;
display: block !important;
}
.alertmsg div.chatavatar{
    border: 1px rgba(255,255,255,.5) solid;
    background:#000;
    box-shadow: 0 0 10px 0px #999;
    width:24px !important;
    height:24px !important;
}
.alertmsg div.chatavatar img{
    
    background:#fff;
    width:23px !important;
    height:23px !important;
    
}
.alertmsg  .chatdate{
    position: relative;
    top:0;
    color:#fff;
}
.l-quote.right {
    
    background-color: rgba(255,255,255,.3);
    left:10%
  }
  .l-quote.right .chatdate{
    left:auto;
    right: 45px;
  } 
  .l-quote.alertmsg {
    width:100%;
    
   
text-align: center;
font-size: 11px !important;
 
  }
  .quote.alertmsg:after {
     transform:skewX(25deg);
    border-width: 0;
    left: 35%;
   right:auto;
   border-color: #fc727a transparent;
  }
  .quote.right:after {
    transform:skewX(25deg);
    border-width: 10px 0 0 10px;
    left: auto;
   right:35px;
   border-color: rgba(255,255,255,.3) transparent;
  }
  .btn-warning:disabled {
    color: #fff;
  
}
.matchcode .char{
    display: inline-block;
    padding: 10px;
    border: 1px solid rgba(255,255,255,.3);
    margin:5px;
}
.prosbar{
position: absolute;
right: 0;
left: 0;
padding: 0 15px;
top: -8px;
z-index: 0;
margin: 0;
}
@media (min-width: 768px){
.navbar-nav {
float: left;
margin: 0;
}
.navbar-nav {
margin: 12.5px -15px;
}
.nav {
margin-bottom: 0;
padding-left: 0;
list-style: none;

}

}
.main-panel .navbar.fixed-top{
    line-height: 30px;
}
.main-panel .navbar.fixed-top *{
    
    font-size: 14px;
}
.main-panel::before{
   
    width: 0px;
    height: 0px;
    display: block;
    z-index: 1;
    content: "";
    opacity: .7;
    margin-bottom: 60px;
}
@media only screen and (max-width: 600px){
    .main-panel .navbar.fixed-top{
        width: 100%;
       
    }
    .main-panel .navbar.fixed-top *{
       
        font-size: 18px;
    }
.mynav .fa-bars{
display: block;
position: absolute;
z-index: 10000;
right:0px;
color:#fff;
top:5px
}

.mynav {
position: absolute;
left:0;
right:30px;
}
.mynav ul{

position: absolute;
width: 107%;

left: 0;
right:0px;

margin: 0;
padding: 0;
margin-top: 60px;

}
.mynav ul.is-expanded{
height: auto;
min-height: 50px;
display: block;

box-shadow: 0px 10px 39px 61px rgba(0,0,0,0.35);

background: black;
}
}

.wrapper-full-page .navbar.fixedtop{
position: fixed !important;
}
* {
box-sizing: border-box;
}

html {
font-weight: 300;
-webkit-font-smoothing: antialiased;
}

html, input {
font-family:
  "HelveticaNeue-Light",
  "Helvetica Neue Light",
  "Helvetica Neue",
  Helvetica,
  Arial,
  "Lucida Grande",
  sans-serif;
}

html, body {
height: 100%;
margin: 0;
padding: 0;
}

ul {
list-style: none;
word-wrap: break-word;
}

/* Pages */

.pages {
height: 100%;
margin: 0;
padding: 0;
width: 100%;
}

.page {
height: 100%;
position: abssolute;
width: 100%;
}

/* Login Page */

.login.page {
background-color: #000;
}

.login.page .form {
height: 100px;
margin-top: -100px;
position: absolute;

text-align: center;
top: 50%;
width: 100%;
}

.login.page .form .usernameInput {
background-color: transparent;
border: none;
border-bottom: 2px solid #fff;
outline: none;
padding-bottom: 15px;
text-align: center;
width: 400px;
}

.login.page .title {
font-size: 200%;
}

.login.page .usernameInput {
font-size: 200%;
letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
color: #fff;
font-weight: 100;
}

/* Chat page */

.chat.page {
display: none;
}

/* Font */

.messages {
font-size: 150%;
}

.inputMessage {
font-size: 100%;
}

.log {
color: gray;
font-size: 70%;
margin: 5px;
text-align: center;
}

/* Messages */

.chatArea {
height: 100%;
padding-bottom: 60px;
}

.messages {
height: 100%;
margin: 0;
overflow-y: scroll;
padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
color: gray;
}

.username {
font-weight: 700;
overflow: hidden;
padding-right: 15px;
text-align: right;
}

/* Input */

.inputMessage {
border: 10px solid #000;
bottom: 0;
height: 60px;
left: 0;
outline: none;
padding-left: 10px;
position: absolute;
right: 0;
width: 100%;
}
.chall.card-user .card-body{
min-height: 140px;
padding-bottom: 0;
}
.card-profile .card{
text-align: center;
background-color:rgba(0,0,0,0.35);
border-color: rgba(0,0,0,0);
}
.chall.card-user .card-body .col small{
    line-height:30px;
    }

    .card-user  .row small,.card-user  .row h5{
        line-height:30px !important;
        }
.card-user .card-image {
height: 200px;
}
.chall.card-user .card-footer{
padding: 0 10px;
}
.gameblock .col,.gameblock h4{
line-height:30px !important;
}
.gameblock .list-group-item{
padding-top: 5px;
padding-bottom: 5px;
}
.card-header-tabs , .nav-tabs{
display: inline-flex;
margin: 0px auto 0;
top: 1px;
position: relative;
z-index: 3;
width:100%;

}
.card-lock *:not(input) {
-webkit-user-select: none;  /* Chrome all / Safari all */
-moz-user-select: none;     /* Firefox all */
-ms-user-select: none;      /* IE 10+ */
user-select: none;          /* Likely future */      
}
.card-lock .switch {
max-width: 80px  !important;
margin-top: 5px;
}
.card-lock .switch *{
line-height: 10px;
}
.card-lock .switch.btn-disabled {
opacity: .2;
}
@media (min-width: 991px){
.card-user .card-image {
    height: 160px;
}

.chall.card-user .card-body{
  min-height: 150px;
  padding-bottom: 0;
}
}
.winner {
position: absolute;
box-shadow: 0 0 150px 20px gold;

animation: rte 3s infinite linear;

 transform: translateX(-50%) scale(.3); 
 transform-origin: center;
 z-index: -1;
left:50%;
}
.lock-page .card-header .avatar{height:79px   !important}

.card-chat p{
line-height: 18px;
margin-bottom: 5px;
}
.card-chat video{
height: auto;
width: 100%;
background:#222;

}
@keyframes rte {
0% {
    transform: translateX(-50%) scale(.3);
  }
  50% {
    transform: translateX(-50%) scale(.8);
  }
100% {
  transform: translateX(-50%) scale(.3);
}
}
.swal2-title{
    font-weight: 400 !important;
    line-height:70px
}
  /*# sourceMappingURL=style.css.map */
  .swal2-popup.dark {
    box-shadow: 0 0 50px 20px rgba(255, 217, 0,.5);
    background: rgb(36, 36, 36) !important;
    
  }
  .swal2-popup.dark h2{
    color: rgba(255, 255, 255,.8) !important;
    
  }
  .swal2-popup.dark .swal2-html-container{
    color: #fff !important;
    
  }
  .picker *{
    border-radius: 3px !important;
    border-color: #E3E3E3 !important;
}
.picker {
    padding: 0 !important;
    border:  0 !important;
}
.picker span{
    display:none;
}
.form-control,.form-control *,.form-group div{
    font-weight:500 !important;
    font-size:13px !important;
    color:#000 !important;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}
.iLstjR {
    
    margin: 30px 0 0 0 !important;
}
.badgegroup{
    padding: 0!important;
    line-height:12px;
    overflow: hidden;
    
}
.badgegroup.small{
    transform: scale(.8);
    box-shadow: 0 0 5px 0px rgba(0,0,0,0.2);
}
.badgegroup.small.right{
    transform-origin: right;
}
.badgegroup .cur{
    padding: 5px 6px 5px 6px!important;
    display: inline-block;
    background:rgba(255,255,255,.9);
}
.badgegroup .cur img{
    width: 15px;
   
}
.card-stats img{
    width: 25px;
    position: relative;
    top: -2px;
}
.badgegroup .lable{
    padding: 5px 6px 5px 2px!important;
    display: inline-block !important;
    font-size: 13px !important;
    font-weight: 400;
    min-width: 35px;
}